@import url(../utils/variables.css);

.wp-block-mypreview-ifblocks-inner-else__header {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	font-size: 12px;
	margin-bottom: 2em;
	padding: 5px 20px 5px 10px;
	position: relative;
}
.wp-block-mypreview-ifblocks-inner-else__icon {
	opacity: 0.8;
	position: absolute;
	right: 8px;
	top: 8px;
}
