[data-type="mypreview/ifblock"] {
	&:not(.has-child-selected) {
		&:not(.is-selected) {
			border: 2px solid var(--main-bg-color);
		}
	}
}
.wp-block-mypreview-ifblock {
	&__header {
		background-color: var(--main-bg-color);
		color: var(--main-txt-color);
		font-size: 12px;
		padding: 5px 8px 5px 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__icon {
		opacity: 0.8;
		height: 20px;
		order: 1;
		margin-left: 5px;
	}
	&__desc {
		display: block;
		strong {
			font-family: monospace;
			background: var(--monospace-bg-color);
			padding: 2px 4px 2px 4px;
			opacity: 0.8;
			font-weight: normal;
		}
	}
	&__footer {
		background-color: var(--main-bg-color);
		color: var(--main-txt-color);
		font-size: 12px;
		text-align: right;
		font-style: italic;
		padding: 5px 10px 5px 10px;
	}
	[for=*"conditional-operator"] {
		display: block !important;
	}
}
