@import url(../utils/variables.css);

.wp-block-mypreview-ifblock__header {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	font-size: 12px;
	padding: 5px 8px 5px 10px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.wp-block-mypreview-ifblock__icon {
	opacity: 0.8;
    height: 20px;
    order: 1;
    margin-left: 5px;
}
.wp-block-mypreview-ifblock__desc {
	display: block;
}
.wp-block-mypreview-ifblock__desc strong {
	font-family: monospace;
	background: var(--monospace-bg-color);
	padding: 2px 4px 2px 4px;
	opacity: 0.8;
	font-weight: normal;
}
.wp-block-mypreview-ifblock__footer {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	font-size: 12px;
	text-align: right;
	font-style: italic;
	padding: 5px 10px 5px 10px;
}
[for="wp-block-mypreview-ifblock-conditional-operator"] {
	display: block !important;
}
[data-type="mypreview/ifblock"]:not(.has-child-selected):not(.is-selected) {
	border: 2px solid var(--main-bg-color);
}