.wp-block-mypreview-ifblock-inner-else__header {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	font-size: 12px;
	padding: 5px 8px 5px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wp-block-mypreview-ifblock-inner-else__icon {
	opacity: 0.8;
	height: 20px;
	order: 1;
	margin-left: 5px;
}
.wp-block-mypreview-ifblock:not(.wp-block-mypreview-ifblock--selected) .wp-block-mypreview-ifblock-inner-else--is-empty {
	display: none;
}
