.wp-block-mypreview-ifblock {
	&:not(&--selected) {
		^&-inner-else {
			&--is-empty {
				display: none;
			}
		}
	}
	&-inner-else {
		&__header {
			background-color: var(--main-bg-color);
			color: var(--main-txt-color);
			font-size: 12px;
			padding: 5px 8px 5px 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__icon {
			opacity: 0.8;
			height: 20px;
			order: 1;
			margin-left: 5px;
		}
	}
}
